<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>nove_fastorder</name>
	<displayName><![CDATA[Fast order your favorite products]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Order all your favorite products in 1 click]]></description>
	<author><![CDATA[Novevision.com, Britoff A.]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
