<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>profitcalculations</name>
	<displayName><![CDATA[Profit calculations]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Profit calculations ]]></description>
	<author><![CDATA[prestashopov.ru]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
