.btn {
	border-radius: 5px;
}
.product-miniature-grid .product-title {
	  line-height: 1.25rem;
    margin-bottom: 7px;
}
.product-miniature-default .product-add-cart .input-qty {
	padding: 0.375rem 1em 0.375rem .2em;
	margin-left: 1rem;
	border-radius: 5px;
	font-size: 20px;
	max-width: 70px;
}
.product_grey {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: gray;
	filter: grayscale(100%);
}
.product-miniature-default .bootstrap-touchspin .input-group-btn-vertical>.btn {
	background-color: transparent;
	border: none;
}
.product-miniature-default .bootstrap-touchspin .btn-touchspin:hover {
	background: transparent;
}
.product-miniature-default .bootstrap-touchspin .input-group-btn-vertical {
	margin-left: -28px;
	margin-top: -3px;
}
.product-miniature-default .bootstrap-touchspin .input-group-btn-vertical i {
	font-size: 1rem;
	left: 6px;
	font-weight: bold;
}
.product-miniature-default .text-muted {
	font-weight: bold;
}
.btn-product-list {
	padding: 0.375rem 0.75rem;
	background: #046f29;
	color: #fff;
	border: none 1px #000;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.product-miniature-default .product-flags {
	left: initial;
	top: 10px;
	right: 10px;
}
.product-flags li.product-flag {
	font-size: 1rem;
	font-weight: bold;
	padding: 10px;
	border-radius: 5px;
}
#wrapper .page-content.page-stores h5.block-title {
	font-size: 1.8rem;
	font-weight: bold;
	margin: 10px 0 0;
}
@media (max-width: 767.98px) {
#left-column {
	-ms-flex-order: -1;
	order: -1;
	margin-top: 1.5rem;
}
}
.simpleblog__post__content a:link:not(.nav-link):not(.btn), .simpleblog__post__content a:visited:not(.nav-link):not(.btn) {
    color: #ed1b34;
    text-decoration: underline;
}