#module-ecm_checkout-checkout .dtd_container {
	display: inline-block;
	width: 100%;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container {
	position: relative;
	margin: 0.18rem;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_day_title {
	width: 100%;
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
#module-ecm_checkout-checkout  .dtd_radio-tile-group .dtd_input-container input.dtd_radio-button {
	opacity: 0;
	position: absolute !important;
	top: 0;
	left: 0 !important;
	height: 100% !important;
	width: 100% !important;
	margin: 0 !important;
	cursor: pointer !important;
	z-index: 5;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_walk-icon {
	max-width: 13px;
	padding: 0px;
	margin: -2px 0 0 0;
	float: left;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-tile {
	display: inline-block;
	width: 100%;
	border: 2px solid #046F29;
	border-radius: 5px;
	padding: 0.2rem;
	-webkit-transition: -webkit-transform 300ms ease;
	transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
	transition: transform 300ms ease, -webkit-transform 300ms ease;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_icon svg {
	fill: #494b50;
	width: 3rem;
	height: 3rem;
}
#module-ecm_checkout-checkout  .dtd_radio-tile-group .dtd_input-container .dtd_radio-tile-label {
	text-align: center;
	font-weight: bold !important;
	color: #494b50;
	margin: 0;
	padding: 0px 0px 0px 3px !important;
	font-size: 12px;
	text-transform: initial;
	float: left;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:checked + .dtd_radio-tile {
	background-color: #494b50;
	border: 2px solid #494b50;
	color: white;
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:checked + .dtd_radio-tile .dtd_icon svg {
	fill: white;
	background-color: #494b50;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:checked + .dtd_radio-tile .dtd_radio-tile-label {
	color: white  !important;
	background-color: #494b50;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:disabled + .dtd_radio-tile {
	background-color: #ffffff;
	border: 2px solid #ed1b34;
	color: #ed1b34;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:disabled + .dtd_radio-tile .dtd_icon svg {
	fill: white;
	background-color: #494b50;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:disabled + .dtd_radio-tile .dtd_radio-tile-label {
	color: #9E9E9E;
	background-color: #ffffff;
}
#module-ecm_checkout-checkout #ecm_checkout #cart_place {
	width: 100%;
}
#module-ecm_checkout-checkout #ecm_checkout #cart_place .cart-item img {
	max-width: 50px;
}
#module-ecm_checkout-checkout .step_number {
	position: absolute;
	font-size: 1.3rem;
	font-weight: bold;
	border: 1px solid #046f29;
	padding: 5px;
	color: #046f29;
}
#module-ecm_checkout-checkout .step_number.step_number_5 {
	left: -1px;
}
#module-ecm_checkout-checkout .card {
	background: none;
	border: 1px solid hsla(0,0%,63%,.25);
}
#module-ecm_checkout-checkout .card-block {
	padding: 1.25rem;
	flex: initial;
}
#module-ecm_checkout-checkout .sc_carrier_row,
#module-ecm_checkout-checkout .sc_payment_row {
	margin: 0 0 15px 0;
	padding: 10px 0;
	border: 1px solid #f5f5f5;
	display: inline-block;
	width: 100%;
}
#module-ecm_checkout-checkout .sc_carrier_row_checked,
#module-ecm_checkout-checkout .sc_payment_row_checked {
	background-color: #f5f5f5;
}
#module-ecm_checkout-checkout .sc_carrier_row > div,
#module-ecm_checkout-checkout .sc_payment_row > div {
	display: inline-flex;
}
#module-ecm_checkout-checkout .sc_carrier_row .product-line-grid-right {
	width: 100%;
	flex: none;
	max-width: 100%;
	display: inline;
}
#module-ecm_checkout-checkout .carrier-delay {
	font-size: initial;
	font-weight: 100;
}
#module-ecm_checkout-checkout span.carrier-price {
	margin-left: 0;
}
#module-ecm_checkout-checkout #customers,
#module-ecm_checkout-checkout #checkouts {
	width: 100%;
	margin-top: 20px;
}
#module-ecm_checkout-checkout #payment_place {
	margin-right: 1%;
}
#module-ecm_checkout-checkout #checkout_place {
	-ms-flex: 0 0 40.66667%;
	flex: 0 0 40.66667%;
	max-width: 40.66667%;
}
#module-ecm_checkout-checkout #checkout_place section.card-block {
	padding: 0 1.25rem;
}
#module-ecm_checkout-checkout .block-promo {
	background-color: whitesmoke;
	border: 1px solid #046f29;
	padding: 10px 15px;
	display: inline-block;
	width: 100%;
}
#module-ecm_checkout-checkout .block-promo #promo-code input#discount_name {
	float: left;
}
#module-ecm_checkout-checkout .block-promo button {
	float: right;
	padding: .65rem 1.25rem;
}
#module-ecm_checkout-checkout #ps-shoppingcart-wrapper {
	display: none;
}
@media (max-width:767px) {
#module-ecm_checkout-checkout #ecm_checkout {
	margin: 0;
	padding: 0;
}
#module-ecm_checkout-checkout #ecm_checkout .unit-price {
	display: inline-grid;
}
#module-ecm_checkout-checkout #ecm_checkout > div,
#module-ecm_checkout-checkout #ecm_checkout #carriers section>div {
	padding: 0;
	margin: 0 auto;
	float: none!important;
}
#module-ecm_checkout-checkout .sc_carrier_row,
#module-ecm_checkout-checkout .sc_payment_row {
	margin: 0 0 15px 0 !important;
}
#module-ecm_checkout-checkout .carrier-delay {
	font-size: 1rem;
}
#module-ecm_checkout-checkout .carrier-name {
	font-size: 1.5rem;
}
#module-ecm_checkout-checkout #ecm_checkout #carrier_place2 h5 {
	padding: 1rem 2.5rem;
	font-size: 1.5rem;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container {
	position: relative;
	margin: 0.5rem 0.15rem;
}
#module-ecm_checkout-checkout #checkout_place {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
}