#tel-selector ul li:first-child {
	display: none !important;
}
#module-ph_simpleblog-single .simpleblog__post__content ul {
	list-style: disc;
	padding-left: 30px;
}
#question_content input {
	margin-top: 12px;
}
#cms.cms-id-70 #wrapper {
	background: url(kinodrom-bg.jpg);
	background-position: top center;
}
.no-wrap-table {
	white-space: nowrap;
}
#onepagecheckoutps_step_three .ecm_liqpay .pts-vcenter>div.col-3 {
	width: 80px!important;
}
#onepagecheckoutps_step_three .pts-vcenter>div.col-3 img {
	height: 40px;
}
@media (min-width: 768px) {
.PM_ASCriterionCheckbox {
	width: 10%;
	float: left;
	margin-right: 1%;
}
.PM_ASCriterionGroupCheckbox label {
	float: left;
	width: 88%;
}
}