#module-ecm_checkout-checkout .dtd_container {
	display: inline-block;
	width: 100%;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container {
	position: relative;
	margin: 0.18rem;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_day_title {
	width: 100%;
	display: inline-block;
	margin-bottom: 0;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
#module-ecm_checkout-checkout  .dtd_radio-tile-group .dtd_input-container input.dtd_radio-button {
	opacity: 0;
	position: absolute !important;
	top: 0;
	left: 0 !important;
	height: 100% !important;
	width: 100% !important;
	margin: 0 !important;
	cursor: pointer !important;
	z-index: 5;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_walk-icon {
	max-width: 13px;
	padding: 0px;
	margin: -2px 0 0 0;
	float: left;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-tile {
	display: inline-block;
	width: 100%;
	border: 2px solid #494b50;
	border-radius: 5px;
	padding: 0.2rem;
	-webkit-transition: -webkit-transform 300ms ease;
	transition: -webkit-transform 300ms ease;
	transition: transform 300ms ease;
	transition: transform 300ms ease, -webkit-transform 300ms ease;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_icon svg {
	fill: #494b50;
	width: 3rem;
	height: 3rem;
}
#module-ecm_checkout-checkout  .dtd_radio-tile-group .dtd_input-container .dtd_radio-tile-label {
	text-align: center;
	font-weight: bold !important;
	color: #494b50;
	margin: 0;
	padding: 0px 0px 0px 3px !important;
	font-size: 12px;
	text-transform: initial;
	float: left;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:checked + .dtd_radio-tile {
	background-color: #494b50;
	border: 2px solid #494b50;
	color: white;
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:checked + .dtd_radio-tile .dtd_icon svg {
	fill: white;
	background-color: #494b50;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:checked + .dtd_radio-tile .dtd_radio-tile-label {
	color: white  !important;
	background-color: #494b50;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:disabled + .dtd_radio-tile {
	background-color: #ffffff;
	border: 2px solid #E91E63;
	color: #9E9E9E;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:disabled + .dtd_radio-tile .dtd_icon svg {
	fill: white;
	background-color: #494b50;
}
#module-ecm_checkout-checkout .dtd_radio-tile-group .dtd_input-container .dtd_radio-button:disabled + .dtd_radio-tile .dtd_radio-tile-label {
	color: #9E9E9E;
	background-color: #ffffff;
}